
:root,
body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;
}

code {
    font-size: 0.9675em;
    color: #085a8a;
    font-family: FiraMono, Andale Mono, monospace;
}

