
.scroll-block {
    --size: 166vw;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: var(--size);
    grid-template-rows: calc(var(--size) * 9 / 16);
    width: 100vw;
    perspective: 200vw;
    perspective-origin: 50% 50%;
    overflow-x: auto;
    overflow-y: hidden;
    background-image:linear-gradient(#a6c7d7, #e3a676);
}

.scroll-block > * {
    grid-column: 1;
    grid-row: 1;
}

.scroll-block > .scene-block {
    align-self: start;

    /* Safari requires an object to fill the grid column or it refuses to
       scroll beyond the rightmost content */
    width: 100%;
    /* Also, it must have height or it has no effect */
    height: 1px;

    background-color: transparent;
}


/**
.object-block
**/

.object-block {
    text-align: center;
    font-size: 1vw;
    line-height: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.object-1 {
  transform: none;
  color: white;
  background-color: #2285bf;
  z-index: 4;
}

.object-2 {
  transform: translate3d(-1vw, -1vw, 100vw);
  background-color: #ffd392;
  z-index: 5;
}

.object-3 {
  transform: translate3d(-2vw, -2vw, 150vw);
  background-color: #ffe3b9;
  z-index: 6;
}

.object-4 {
  transform: translate3d(-3vw, -3vw, 175vw);
  background-color: #fff0d8;
  z-index: 7;
}

.object-5 {
  transform: translate3d(1vw, 1vw, -200vw);
  color: white;
  background-color: #156899;
  z-index: 3;
}

.object-6 {
  transform: translate3d(2vw, 2vw, -600vw);
  color: white;
  background-color: #0a4568;
  z-index: 2;
}
